<div class="row d-flex my-3 justify-content-center">
    <div class="col-md-1 p-2 m-2 text-center bg-secondary bg-gradient" style=" font-size: x-large;">
        <div>
            <div class="value">
                {{ article.votes }}
            </div>
            <div class="label">
                POINTS
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div  style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">
                <div style="font-size: x-large;">
                    <a class="text-decoration-none" style="color: black;" href="{{ article.link }}" target="_blank">
                        {{ article.title }}
                    </a>
                    <div class="form-text text-muted">({{ article.domain() }})</div>
                </div>
              </h5>
              <a href="#" class="card-link text-decoration-none" (click)="voteUp()">
                <i class="fa fa-arrow-up"></i>
                UpVote
              </a>
              <a href="#" class="card-link text-decoration-none" (click)="voteDown()" >
                <i class="fa fa-arrow-down"></i>
                DownVote
                </a>
            </div>
          </div>
    </div>
</div>